@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600&display=swap');


:root{
    --body-background: #FFF;
    --container-color: #f3f3f3;
    --first-color: #80009e;
    --Palatinate_purple: #682d637e;
    --rose: #FF0F80;
    --text_color_alt: #3C3C3C;
    --text_color: #1b1b1b;
    --body_font: 'Rubik', sans-serif;
    --code_font: 'Source Code Pro', monospace;
    --name_font: 'Monoton', cursive;
    --first-shadow: 0 10px 18px 0 var(--first-color),
            0 8px 22px 0 var(--first-color);
    --second-shadow: 0 2px 4px 0 var(--first-color),
            0 2px 4px 0 var(--first-color);
    --btn-shadow: 0 8px 16px 0 var(--first-color),
            0 6px 18px 0 var(--first-color);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body_font);
    background-color: var(--body-background);
    color: var(--text_color);
    transition: .5s linear;
}

body.dark{
    --body-background: #1b1b1b;
    --text_color: #FFF;
    --btn-shadow: 0 8px 16px 0 var(--Palatinate_purple),
            0 6px 18px 0 var(--Palatinate_purple);
    --container-color: #272727;
}

.hidden{
    display: none;
}


/**************** Loading section ****************/
.loader.hidden{
    display: none;
}

.loader{
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.loader__round{
    border-radius: 50%;
    background-color: var(--Palatinate_purple);
    animation: shadow_spin 2s infinite;
}


.logo__loader{
    width: 200px;
    height: 200px;
    animation: spinner 2s infinite;
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes shadow_spin {
    0%{
        box-shadow: var(--first-shadow);
    }
    100%{
        box-shadow: none;
    }
}

/************** Navigation bar **************/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    max-width: 1300px;
    padding: 1.5rem 1rem;
    margin: auto;
    font-weight: bold;
    top: 0;
    left: 0;
    background-color: var(--body-background);
}

.nav__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.nav__logo {
    width: 2.5em;
}

.nav__slogan {
    font-size: 1rem;
    font-family: var(--code_font);
}

.nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: calc(100% - 80px);
    left: -100%;
    top: 80px;
    margin-right: 0;
    background-color: var(--container-color);
    list-style: none;
    padding: 2rem 0;
    gap: 2rem;
    overflow-y: auto;
}

.nav__menu--open{
    left: 0;
}

.nav__menu__item {
    font-size: 1.2rem;
    margin: 0 8px;
    align-self: center;
}

.nav__menu__link:hover{
    background-color: var(--Palatinate_purple);
    box-shadow: var(--btn-shadow);
}

.nav__menu__link.active {
    color: var(--rose);
}
.nav__menu__link {
    color: var(--text_color);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .5s;
}

.icons__menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#mode {
    font-size: 1.4rem;
}

.btn__menu{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: .5s;
}

.stripe{
    width: 30px;
    height: 4px;
    border-radius: 1rem;
    background-color: var(--text_color);
    transition: .5s;
}

.stripe__open--1{
    position: absolute;
    transform: rotate(45deg);
    transition: .7s;
}

.stripe__open--2{
    position: absolute;
    transform: rotate(-45deg);
    transition: .7s
}


/* Website content */
.main{
    padding: 2rem;
}

.home{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__title{
    font-size: 3rem;
    color: var(--first-color);
    font-family: var(--name_font);
}

@media screen and (min-width: 576px){
    .nav__brand{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 200px;
        }

        .nav__logo{
            width: 3.5em;
        }

        .nav__slogan {
            font-size: 1.3rem;
        }

        .nav__menu {
            flex-direction: row;
        }
}